.nav-tabs{
    float:left;
    width:100%;
    margin:0;
    list-style-type: none;
    border-bottom:1px solid #ddd;
}

.nav-tabs > li {
    float:left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.5;
    padding:10px;
    border: 1px solid transparent;
    border-radius:  4px 4px 0 0;
    text-decoration: none;
}

.nav-tabs > li > a:hover{
    border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color:#555;
    cursor:default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tab-content > .tab-pane{
    float: left;
    width:50%;
    display:none;
}

.tab-content > .tab-pane.active{
    padding: 10px;
    display:block;
    background-color: #fff;
    box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15);
}

.septem-containers{
    height: auto;
    width:100%;
    padding: auto;
    margin:auto;
    color:black;
    font-weight: bold;
    font-size: 18px;
}

.septem-title{
    text-align: center;
}

.septem-headers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:90%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: #555 solid 2px;
}

.septem-header{
    width:16%;
    text-align: center;

}

.septem-auditeurs{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:90%;
    display: flex;
    margin-bottom:15px;
    margin-top:15px;
}

.septem-item{
    width:16%;
    text-align: center;
}

.septem-controls{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.plus{
    margin:12px;
    cursor: pointer;
}

.minus{
    cursor:pointer;
    margin:12px;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-item{
    margin: 10px;
}

.page-link{
    color: black;
    text-decoration: none;
}

.page-link:hover{
    color: rgb(53, 53, 53);
}

.page-link:active{
    color: rgb(53, 53, 53);
}

.septem-active{
    font-weight: bolder;
    transform: scale(1.25, 1.25);
}

.septem-hebdo{
    width:17%;
}

#septem-podium{
    border-bottom: 2px solid lightgrey;
}

#auditeurSearch{
    margin:10px;
}